# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/*

#vagrant folder
/.vagrant/*

#custom
/runtime/*
/mail/*
/web/assets/*
/web/uploads/*
#/web/thumbs/*

yii.bat
codeception.yml
LICENSE.md
README.md
Vagrantfile
config/local.*.php

*.orig