ul.documents-list {
    list-style: none;
    padding: 0;
}

ul.documents-list li {
    padding: 5px 0;
}

.container-clear {
    display: inline-block;
    width: 100%;
}

.layout-boxed .wrapper {
    max-width: none;
}

#loader {
    position: absolute;
    top: 0;
    left: 35%;
}

.list-members label {
    display: inline-block;
    width: 100%;
}

.list-members .form-control {
    height: 100%;
}

.error-page {
    margin: 0 auto;
}

.error-page > .headline {
    float: none;
    text-align: center;
}

.error-page > .error-content {
    margin-left: 0;
    text-align: center;
}

.hidden-toggle div {
    display: none;
}

.toggle-label:hover {
    cursor: pointer;
    color: blue;
}